// ### include define {{{
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
// #include "keymap_german_mac_iso_sources.h"
#include "keymap_german_mac_iso_zmk.h"
// }}}
// ### CONFIG_ZMK_DISPLAY {{{
#ifdef CONFIG_ZMK_DISPLAY
#    include "oled.dtsi"
#endif // CONFIG_ZMK_DISPLAY
//}}}
// ### ifdef CONFIG_ZMK_RGB_UNDERGLOW {{{
#ifdef CONFIG_ZMK_RGB_UNDERGLOW
#    include <dt-bindings/zmk/rgb.h>
#    include <dt-bindings/led/led.h>

/*
 * Temporarily here because nice nano v2 spi is not defined on ZMk Yet
 * Source: https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/reviung41/boards/nice_nano.overlay
 * GitHub Issue: https://github.com/zmkfirmware/zmk/issues/885
 */

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	mosi-pin = <6>;
	// Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
	sck-pin = <5>;
	miso-pin = <7>;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		/* WS2812 */
		chain-length = <11>; /* arbitrary; change at will */
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

/ {
	chosen {
		zmk,underglow = &led_strip;
	};
};
#endif // CONFIG_ZMK_RGB_UNDERGLOW
//}}}
// ### definiendo capas + otros {{{
#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2
#define FUNCTION 3
#define MEDIA 4
#define MOUSE 5
// combinadas para optimizar espacio
#define MEDIA_ESC &lt MEDIA ESC
#define MOUSE_TAB &lt MOUSE TAB
#define NUMBER_SPACE &lt NUMBER SPACE
#define SYMBOL_RGUI &lt SYMBOL RGUI
#define FUNCTION_RALT &lt FUNCTION RALT
// otros
#define LSHFT_COMMA &mt LSHFT COMMA
//}}}
/ {
   keymap {
      compatible = "zmk,keymap";
      // ### default_layer {{{
      default_layer {
         //    .------------------------------------------------.                         .-------------------------------------------------.
         //    |LT4 ESC |   Q   |   W   |   E   |   R   |   T   |                         |   Z   |   U   |   I   |   O   |   P   | BACKSPC |
         //    |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //    |LT5 TAB |   A   |   S   |   D   |   F   |   G   |                         |   H   |   J   |   K   |   L   |  UP   |   ENTER |
         //    |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //    |SHIFT   |   Y   |   X   |   C   |   V   |   B   |                         |   N   |   M   |LSFT , |  LEFT |  DOWN |   RIGHT |
         //    '---------------------------------------------------------|       |----------------------------------------------------------'
         //                             |  CTRL    |  CMD       |   ALT  |       | LT1 SPACE | LT2 CMD   | LT3 RALT |
         //                             '--------------------------------'       '----------------------------------'
         // label = "DEFAULT";
         bindings = <
            MEDIA_ESC   DE_Q   DE_W   DE_E   DE_R      DE_T                  DE_Z        DE_U  DE_I         DE_O     DE_P     DE_BSPC
            MOUSE_TAB   DE_A   DE_S   DE_D   DE_F      DE_G                  DE_H        DE_J  DE_K         DE_L     DE_UP    DE_RET
            DE_LSHFT    DE_Y   DE_X   DE_C   DE_V      DE_B                  DE_N        DE_M  LSHFT_COMMA  DE_LEFT  DE_DOWN  DE_RIGHT
                                 DE_LCTRL  DE_LGUI  DE_RALT                  NUMBER_SPACE  SYMBOL_RGUI  FUNCTION_RALT
            >;
      };
      // }}}
      // ### number_layer {{{
      number_layer {
         //   .-------------------------------------------------.                         .-------------------------------------------------.
         //   |   0     |   1   |   2   |   3   |   -   |   +   |                         |   ß   |   Ü   |   Ä   |   Ö   |       |BACKSPC  |
         //   |---------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   |CAPS_LOCK|   4   |   5   |   6   |   /   |   *   |                         |   #   |   ~   |   ?   |   @   |       | ALT     |
         //   |---------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   | SHIFT   |   7   |   8   |   9   |   %   |   =   |                         |   .   |   ´   |   `   |       |       |ALTGR    |
         //   '----------------------------------------------------------|       |----------------------------------------------------------'
         //                             |  CTRL |  CMD  |     SPACE      |       |        |  LSFT |      ALTGR    |
         //                             '--------------------------------'       '--------------------------------'
         // label = "NUMBER";
         bindings = <
            DE_0     DE_1   DE_2   DE_3    DE_MINS   DE_PLUS                                DE_SS     DE_UDIA      DE_ADIA         DE_ODIA     XXX   DE_BSPC
            DE_CAPS   DE_4   DE_5   DE_6    DE_FSLH    DE_STAR                                DE_HASH  DE_TILD  DE_QUESTION  DE_AT     XXX   DE_LALT
            DE_LSHFT  DE_7   DE_8   DE_9    DE_PERC   DE_EQUAL                               DE_DOT   DE_ACUT      DE_GRAVE     XXX     XXX   DE_RALT
            DE_LCTRL  DE_LGUI        DE_SPACE     XXX     DE_LSHFT DE_RALT
            >;
      };
      // }}}
      // ### symbol_layer {{{
      symbol_layer {
         //  .------------------------------------------------.          TODO:          .-------------------------------------------------.
         //  |   $    |   (   |   )   |   [   |   ]   |   ~   |                         | ´     |   `   |       |       |       |BACKSPC  |
         //  |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //  |   %    |   {   |   }   |   ^   |PAGE_UP|   #   |                         |   &   |   |   |       |       |       | ALT     |
         //  |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //  |SHIFT   |    <  |   >   |  HOME |PAGE_DO|  END  |                         |   ~   |   '   |       |       |       |ALTGR    |
         //  '---------------------------------------------------------|       |----------------------------------------------------------'
         //                           |  CTRL    |  CMD       | SPACE  |       |  ENTER | ALTGR |          CTRL |
         //                           '--------------------------------'       '--------------------------------'
         // label = "SYMBOL";
         bindings = <
            DE_DLR   DE_LPAR  DE_RPAR   DE_LBKT  DE_RBKT   DE_TILD             DE_ACUT     DE_GRAVE  XXX    XXX     XXX   DE_BSPC
            DE_PERC  DE_LBRC  DE_RBRC   DE_CIRC DE_PG_UP   DE_HASH              DE_AMPS  DE_PIPE   XXX    XXX    XXX   DE_LALT
            DE_LSHFT  DE_LABK  DE_RABK   DE_HOME  DE_PG_DN   DE_END               DE_TILD DE_APOS   XXX    XXX     XXX   DE_RALT
                                    DE_LCTRL  DE_LGUI  DE_SPACE                      DE_RET     DE_RALT DE_LCTRL
            >;
      };
      // }}}
      // ### function_layer {{{
      function_layer {
         //  .------------------------------------------------.                         .-------------------------------------------------.
         //  |    F1  |  F2   |   F3  |   F4  | SPELL |TRADUCT|                         |       |       |       |       |       |         |
         //  |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //  |    F5  |  F6   |   F7  |   F8  |   \   |ALFRED |                         |C-A-DEL|PASS   |       |       |BRI_UP |         |
         //  |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //  |    F9  |   F10 |   F11 |   F12 |ALFRED |EMOJI  |                         |L_SHIFT|L_SHIFT|R_SHIFT|       | BRI_UP|         |
         //  '---------------------------------------------------------|       |----------------------------------------------------------'
         //                           |  CTRL    |  CMD       |   ALT  |       |  TAB   |   ´   |          CTRL |
         //                           '--------------------------------'       '--------------------------------'
         // LCTL(LGUI(KC_D)), LCTL(LGUI(KC_SPC))
         // label = "FUNCTION";
         bindings = <
            DE_F1 DE_F2   DE_F3 DE_F4 &kp LC(LG(D)) &kp LS(LA(T)) XXX   XXX XXX XXX XXX XXX
            DE_F5 DE_F6   DE_F7 DE_F8  DE_BSLS  &kp LA(LG(G)) &kp LC(LA(DEL))    XXX   XXX          XXX  &kp C_BRI_UP  XXX
            DE_F9 DE_F10  DE_F11  DE_F12 &kp LA(LG(V)) &kp LC(LG(SPACE)) DE_LSHIFT    DE_LSHIFT   DE_RSHIFT          XXX  &kp C_BRI_DN  XXX
                                    DE_LCTRL  DE_LGUI  DE_LALT                      DE_TAB     DE_ACUT DE_LCTRL
                                 >;
                         };
      // }}}
      // ### media_layer {{{
      media_layer {
         // .------------------------------------------------.                         .-------------------------------------------------.
         // |        |<S-D-1>|<S-D-2>|<S-D-3>|OP_TERM|       |                         |POS1   |POS2   |LANG_1 |LANG_2 | STOP  |  DELETE |
         // |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         // |        |<S-D-4>|<S-D-5>|       |       |       |                         |POS3   |POS4   |LANG_3 |       |VOL_UP |PLAY/PAUS|
         // |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         // |        |       |       |       |       |       |                         |       |       |  MUTE |  PREV |VOL_DOW|  NEXT   |
         // '---------------------------------------------------------|       |----------------------------------------------------------'
         //                          |  CTRL    |  CMD       |   ALT  |       |  SPACE | ALTGR |          CTRL |
         //                          '--------------------------------'       '--------------------------------'
         // XXX XXX XXX XXX XXX XXX XXX    XXX   XXX          XXX  XXX  XXX
         //                         XXX  XXX  XXX                      XXX     XXX XXX
         // label = "MEDIA";
         bindings = <
            XXX &kp LS(LG(NUMBER_1)) &kp LS(LG(NUMBER_2)) &kp LS(LG(NUMBER_3)) &kp LC(LG(LA(SLASH))) XXX &kp LA(LG(NUMBER_1)) &kp LA(LG(NUMBER_2)) &kp LANG1    &kp LANG2  &kp C_STOP  &kp DEL
            XXX &kp LS(LG(NUMBER_4)) &kp LS(LG(NUMBER_5)) XXX XXX XXX &kp LA(LG(NUMBER_3)) &kp LA(LG(NUMBER_4))   &kp LANG3          XXX &kp C_VOL_UP  &kp C_PLAY_PAUSE
            XXX XXX XXX XXX XXX XXX XXX    XXX   &kp C_MUTE      &kp K_PREV  &kp C_VOL_DN  &kp C_NEXT
                                    DE_LCTRL  DE_LGUI  DE_LALT                      DE_SPACE   DE_RALT DE_LCTRL
                                 >;
                         };
      // }}}
#ifdef CONFIG_ZMK_RGB_UNDERGLOW
      // ### mouse_layer {{{
      mouse_layer {
         //   .------------------------------------------------.                         .-------------------------------------------------.
         //   |        |       |       |OUT_USB|OUT_BLE|OUT_TOG|                         |RGBBRI-|RGBBRI+|WH_LEFT|WH_RIGH|WH_DOWN| WH_UP   |
         //   |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   |        |CLICK_1|CLICK_2|BT_CLR |BT_PRV | BT_NXT|                         |RGBSAT-|RGBSAT+|       |CLICK_1| UP    |CLICK_2  |
         //   |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   |BT_CLR  |BT_0   |BT_1   |BT_2   |BT_3   |BT_4   |                         |RGBHUE-|RGBHUE+| RESET | LEFT  | DOWN  | RIGHT   |
         //   '---------------------------------------------------------|       |----------------------------------------------------------'
         //                            |EP_OFF  | EP_ON|         EP_TOG |       |RGBANI- |RGBANI+|   RGBTOG      |
         //                            '--------------------------------'       '--------------------------------'
         // label = "MOUSE";
         bindings = <
            XXX XXX XXX &out OUT_USB &out OUT_BLE  &out OUT_TOG  &rgb_ug RGB_BRD    &rgb_ug RGB_BRI   XXX  XXX  XXX  XXX
            XXX XXX XXX &bt BT_CLR &bt BT_PRV &bt BT_NXT &rgb_ug RGB_SAD  &rgb_ug RGB_SAI   XXX  XXX  XXX  XXX
            &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &rgb_ug RGB_HUD  &rgb_ug RGB_HUI   &reset  XXX  XXX  XXX
                                    &ext_power EP_OFF    &ext_power EP_ON   &ext_power EP_TOG                      &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
                                 >;
                         };
      // }}}
#else
      // ### mouse_layer {{{
      mouse_layer {
         //   .------------------------------------------------.                         .-------------------------------------------------.
         //   |        |       |       |OUT_USB|OUT_BLE|OUT_TOG|                         |       |       |WH_LEFT|WH_RIGH|WH_DOWN| WH_UP   |
         //   |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   |        |CLICK_1|CLICK_2|BT_CLR |BT_PRV | BT_NXT|                         |       |       |       |CLICK_1| UP    |CLICK_2  |
         //   |--------+-------+-------+-------+-------+-------|                         |-------+-------+-------+-------+-------+---------|
         //   |BT_CLR  |BT_0   |BT_1   |BT_2   |BT_3   |BT_4   |                         |       |       | RESET | LEFT  | DOWN  | RIGHT   |
         //   '---------------------------------------------------------|       |----------------------------------------------------------'
         //                            |EP_OFF  | EP_ON|         EP_TOG |       |       |        |               |
         //                            '--------------------------------'       '--------------------------------'
         // label = "MOUSE";
         bindings = <
            XXX XXX XXX &out OUT_USB &out OUT_BLE  &out OUT_TOG XXX    XXX   XXX  XXX  XXX  XXX
            XXX XXX XXX &bt BT_CLR &bt BT_PRV &bt BT_NXT XXX  XXX   XXX  XXX  XXX  XXX
            &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 XXX  XXX  &reset  XXX  XXX  XXX
                                    &ext_power EP_OFF    &ext_power EP_ON   &ext_power EP_TOG                      XXX  XXX  XXX
                                 >;
                         };
      // }}}
#endif // CONFIG_ZMK_RGB_UNDERGLOW
   };
};
// vim: fdm=marker:
