/* ======================================== {{{
FileName: macros.dtsi
Date: Sun 10/11/2020 9:00:00.00
Author: Marcos Chow Castro
Email: mctechnology170318@gmail.com
GitHub: https://github.com/mctechnology17
Brief: define macros for the wireless corne keyboard
Use: in your keymap file, include this file
/ {

  macros {
   #include "macros.dtsi"
  };

   keymap {
      compatible = "zmk,keymap";
      default_layer {
         bindings = <
			...
            >;
      };
   };
};
===========================================
Copyright 2023 Marcos Ivan Chow Castro
                           ╔═╦═╦═╗
                    ╔════╗ ║║║║║╔╝
                    ║╔╗╔╗║ ║║║║║╚╗
                    ╚╝║║╚╝ ║╠═╩╩═╝
                      ║╠═╦═╣╚╦═╦╦═╦╗╔═╦═╦╦╗
                      ║║╩╣═╣║║║║║╬║╚╣╬║╬║║║
                      ╚╩═╩═╩╩╩╩═╩═╩═╩═╬╗╠╗║
                                      ╚═╩═╝

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}}*/
// ### macros {{{
#define MACRO(name, keys)           \
name: name##_macro {                \
	label = #name;                    \
	compatible = "zmk,behavior-macro";\
	#binding-cells = <0>;             \
	tap-ms = <1>;                     \
	wait-ms = <1>;                    \
	bindings = <keys>;                \
};

MACRO(macro1, &kp M &kp A &kp C &kp R &kp O &kp N1)
MACRO(macro2, &kp M &kp A &kp C &kp R &kp O &kp N2)
MACRO(macro3, &kp M &kp A &kp C &kp R &kp O &kp N3)
MACRO(macro4, &kp M &kp A &kp C &kp R &kp O &kp N4)
MACRO(macro5, &kp M &kp A &kp C &kp R &kp O &kp N5)
MACRO(macro6, &kp M &kp A &kp C &kp R &kp O &kp N6)
MACRO(macro7, &kp M &kp A &kp C &kp R &kp O &kp N7)
MACRO(macro8, &kp M &kp A &kp C &kp R &kp O &kp N8)
MACRO(macro9, &kp M &kp A &kp C &kp R &kp O &kp N9)
MACRO(ene_small, DE_TILD DE_N)
MACRO(ene_big, DE_TILD &kp LS(N))
// }}}
// vim: filetype=dts fdm=marker:
