/* TODO: en adptacion */
/* Macro macro: */
#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <30>; \
      tap-ms = <40>; \
      bindings = <BINDINGS>; \
  };

/* Brackets */
MACRO(parentheses, &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT)
MACRO(brackets, &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT)
MACRO(ltgt, &kp LESS_THAN &kp GREATER_THAN &kp LEFT)

/* Suspend macOS by holding power key for 1 second */
MACRO(power, &macro_tap_time 1000 &kp C_POWER)
