# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITKB_AURORA_SOFLE_LEFT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_left)

config SHIELD_SPLITKB_AURORA_SOFLE_RIGHT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_right)

config SHIELD_SPLITKB_AURORA_SOFLE_LEFT_PERIPHERAL
    def_bool $(shields_list_contains,splitkb_aurora_sofle_left_peripheral)

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLE_XIAO
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongle_xiao)

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLE_PRO_MICRO
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongle_pro_micro)
